<form class="edit-user-form">
  <legend>New User</legend>
    <label>User ID</label>
    <input name="id" type="text" value=''>
    <label>First Name</label>
    <input name="firstname" type="text" value=''>
    <label>Last Name</label>
    <input name="lastname" type="text" value=''>
    <label>Date of birth</label>
    <input name="birth" type="text" value=''>
    <label>Date of birth</label>
    <input name="birth" type="text" value=''><label>E-mail</label>
    <input name="email" type="text" value=''>
    <label>Address</label>
    <input name="address" type="text" value=''>
    <hr />
   <button type="submit" class="btn">Create</button>
</form>