<h2>Edit User</h2>
<div class="edit-user-form">
	<div class="items">
	    <label>First Name</label>
	    <input name="firstName" type="text" value=<%= name%>>
    </div>
    <div class="items">
	    <label>Last Name</label>
	    <input name="lastName" type="text" value=<%= lastName%>>
    </div>
    <div class="items">
	    <label>Age</label>
	    <input class="inputAge" name="age" type="text" value=<%= age%>>
    </div>
    <hr />
    <button id="<%= id %>" class="btn editBtn">Update</button>
    <a href=""><button class="btn">Cancel</button></a>
</div>